<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *"
      />
    <title>Voting Site</title>
    <!--favicon-->
    <link rel="icon" href="assets/images/favicon-32x32.png" type="image/png" />
    <!-- loader-->
    <link href="assets/css/pace.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&amp;family=Roboto&amp;display=swap"
      />
    <!-- Icons CSS -->
    <link rel="stylesheet" href="assets/css/icons.css" />
    <!-- App CSS -->
    <link rel="stylesheet" href="assets/css/app.css" />
    <style>
      .upper {
      margin-bottom: 0px;
      }
      .mb-4 {
      margin: 20px;
      }
      #vote {
      width: 75%;
      height: 75%;
      }
      @media only screen and (max-width: 600px) {
      .upper {
      margin-bottom: 20px;
      }
      #vote {
      width: 100%;
      }
      .card-text {
      display: none;
      }
      }
    </style>
  </head>
  <body class="bg-login">
    <!-- wrapper -->
    <div class="wrapper">
      <div
        class="section-authentication-login d-flex align-items-center justify-content-center"
        >
        <div class="row" class="mainrow" id="vote">
          <div class="col-12 col-lg-12 mx-auto">
            <div class="card radius-15">
              <div class="card-body">
                <p class="mb-0" style="display:flex;flex:1;justify-content: flex-end;"><a href="/"> HOME</a>
                <div class="card-title upper">
                  <center>
                    <h4>Vote Your Choice</h4>
                  </center>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-6">
                    <center>
                      <form method="POST" action="/process-vote">
                        <div
                          class="card border-primary mb-4"
                          style="max-width: 18rem"
                          >
                          <div class="card-body text-primary">
                            <h5 class="card-title" style="font-size: 17px">
                              Bhartiya Janata Party (BJP)
                            </h5>
                            <img
                              src="assets/bjp.png"
                              alt="BJP"
                              style="height: 50%; width: 50%"
                              />
                            <p class="card-text">
                              The Bharatiya Janata Party is one of two major
                              political parties in India, along with the Indian
                              National Congress.
                            </p>
                          </div>
                          <div
                            class="card-footer"
                            style="background: transparent"
                            >
                            <button
                              id="BJP"
                              value="BJP"
                              name="party"
                              class="btn btn-outline-primary btn-block"
                              style="border: 0px"
                              >
                            Vote BJP
                            </button>
                          </div>
                        </div>
                        <div
                          class="card border-success mb-4"
                          style="max-width: 18rem"
                          >
                          <div class="card-body text-success">
                            <h5 class="card-title" style="font-size: 17px">
                              Indian National Congress (INC)
                            </h5>
                            <img
                              src="assets/inc.png"
                              alt="BJP"
                              style="height: 50%; width: 50%"
                              />
                            <p class="card-text">
                              The Indian National Congress is one of two major
                              political parties in India, along with the Bharatiya
                              Janata Party.
                            </p>
                          </div>
                          <div
                            class="card-footer"
                            style="background: transparent"
                            >
                            <button
                              id="INC"
                              value="INC"
                              name="party"
                              class="btn btn-outline-success btn-block"
                              style="border: 0px"
                              >
                            Vote INC
                            </button>
                          </div>
                        </div>
                    </center>
                  </div>
                  <div class="col-lg-6">
                  <center>
                  <div
                    class="card border-warning mb-4"
                    style="max-width: 18rem"
                    >
                  <div class="card-body text-warning">
                  <h5 class="card-title" style="font-size: 17px">
                  Aam Aadmi Party (AAP)
                  </h5>
                  <img
                    src="assets/aap.png"
                    alt="BJP"
                    style="height: 50%; width: 50%"
                    />
                  <p class="card-text">
                  Aam Aadmi Party is a political party in India, whose
                  central policies include free electricity, water,
                  healthcare and public transport.
                  </p>
                  </div>
                  <div
                    class="card-footer"
                    style="background: transparent"
                    >
                  <button
                    id="AAP"
                    value="AAP"
                    name="party"
                    class="btn btn-outline-warning btn-block"
                    style="border: 0px"
                    >
                  Vote AAP
                  </button>
                  </div>
                  </div>
                  <div
                    class="card border-danger mb-4"
                    style="max-width: 18rem"
                    >
                  <div class="card-body text-danger">
                  <h5 class="card-title" style="font-size: 17px">
                  Bhaujan Samaj Party (BSP)
                  </h5>
                  <img
                    src="assets/bsp.png"
                    alt="BJP"
                    style="height: 50%; width: 50%"
                    />
                  <p class="card-text">
                  The Bahujan Samaj Party is a national level
                  political party in India that was formed to
                  represent Bahujans, referring to SCs, STs, and OBCs.
                  </p>
                  </div>
                  <div
                    class="card-footer"
                    style="background: transparent"
                    >
                  <button
                    id="BSP"
                    name="party"
                    value="BSP"
                    class="btn btn-outline-danger btn-block"
                    style="border: 0px"
                    >
                  Vote BSP
                  </button>
                  </div>
                  </div>
                  </form>
                  </center>
                  </div>
                </div>
                <!--end row-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end wrapper -->
  </body>
  <script src="assets/js/pace.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"
    ></script>
  <script src="assets/js/vote.js"></script>
</html>